a {color: #009BC2!important;}
#content .single-entry-header h1.entry-title {color: #009BC2!important;}
input#submit:hover {background-color: #009BC2!important;}
#content .page-entry-header h1.entry-title {color: #009BC2!important;}
.searchsubmit:hover {background-color: #009BC2!important;}